/ExercícosJava/Aula02/target/
/ExercícosJava/AulaPOOCeV/nbproject/private/
/ExercícosJava/AulaPOOCeV/build/
/ExercícosJava/Aula03/nbproject/private/
/ExercícosJava/Aula03/build/
/ExercícosJava/Aula04/nbproject/private/
/ExercícosJava/Aula04/build/
/ExercícosJava/DesafioM/nbproject/private/
/ExercícosJava/DesafioM/build/
/ExercícosJava/Aula05/nbproject/private/
/ExercícosJava/Aula05/build/
/ExercícosJava/Aula06b/nbproject/private/
/ExercícosJava/Aula06b/build/
/ExercícosJava/Aula07/nbproject/private/
/ExercícosJava/Aula07/build/
/ExercícosJava/Aula09b/nbproject/private/
/ExercícosJava/Aula09b/build/
/ExercícosJava/aula10b/nbproject/private/
/ExercícosJava/aula10b/build/
/ExercícosJava/aula011/nbproject/private/
/ExercícosJava/aula011/build/
/ExercícosJava/Aula12/nbproject/private/
/ExercícosJava/Aula11/nbproject/private/
/ExercícosJava/Aula12/build/
/ExercícosJava/ProjetoFinalPooCursoEmVideo/nbproject/private/
/ExercícosJava/ProjetoFinalPooCursoEmVideo/build/
/ExercícosJava/ListaTelefonica/nbproject/private/
/ExercícosJava/ListaTelefonica/build/
/ExercícosJava/ListaTelefonica/dist/
/ExercícosJava/MySQLConnection/nbproject/private/
/ExercícosJava/MySQLConnection/build/
/ExercícosJava/MySQLConnection/dist/
